<form action="<%= band_url(band) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="band_name">Band Name</label>
    <input type="text" name="band[name]]" value="<%= band.name %>">
    <input type="submit" value="Update">
</form>
<%= link_to "Back to Band", band_url(band) %>
<%= link_to "Delete this entry", band_url(band), method: "delete"%>